.homePage{
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
}

.title{
  font-size: 2rem;
  width: 100%;
  padding-bottom: .8rem;
  border-bottom: 1px solid var(--text-variant);
}

.header{
  padding: 1rem;
}

.postItem{
  width: 100%;
}