.homePage{
  padding: 2rem 1rem;
}

.postsContainer{
  background: var(--black);
}

.energyPosts, .agrobusinessPosts{
  display: flex;
  justify-content: space-around;
}

@media (max-width: 720px){
  .energyPosts, .agrobusinessPosts{
    flex-direction: column;
  }
}